.hero-img {
  height: 30%;
  background-color: #2a2a2a;
}

.section-title {
  text-align: center;
  position: relative;
  top: 40%;
  color: white;
  font-family: 'PT Sans';
}

h4 {
	font-family: 'PT Sans';
	text-align: center;
}

iframe {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.center {
	display: flex;
	justify-content: center;
}

button {
	font-family: 'PT Sans';
	display: block;
	margin-right: 10px;
	margin-left: 10px;
}

.btn {
	background-color: #393939;
	color: white;
}

iframe{
	width: 700px;
	max-width: 610px;
	height: 400px;
	border-color: transparent;
	border-radius: 7px;
  }