hr.solid {
  border-top: 3px solid purple;
}

.boxed {
  margin-left: 70px;
  margin-right: 70px;
}

h2 {
  font-family: "PT Sans";
  color: #393939;
}

h3 {
  font-family: "PT Sans";
}

p {
  font-family: 'Roboto';
  font-size: 14px;}

.center {
	display: flex;
	justify-content: center;
}

button {
	font-family: 'PT Sans';
	display: block;
	margin-right: 10px;
	margin-left: 10px;

}

.btn {
	background-color: #393939;
	color: white;
}

iframe {
	border-color: transparent;
	float: right;
  }

 img {
 	float: right;
 }

 .right {
 	text-align: right;
 }

 img {
 	max-height: 300px;
 	max-width: 300px;
 }