hr.solid {
  border-top: 3px solid purple;
}

.boxed {
  margin-left: 70px;
  margin-right: 70px;
}

h2 {
  font-family: "PT Sans";
  color: #393939;
}

h3 {
  font-family: "PT Sans";
}

p {
  font-family: "Roboto";
  font-size: 14px;
}

.center {
  display: flex;
  justify-content: center;
}

button {
  font-family: "PT Sans";
  display: block;
  margin-right: 10px;
}

section .btn {
  background-color: #393939;
  color: white;
  margin-bottom: 12px;
  padding: 3px 7px;
  border-radius: 0;
}

section .btn:hover {
  color: #cc99cc;
}

.day {
  margin-bottom: 0;
  font-size: min(10vw, 16px);
}
iframe {
  border-color: transparent;
  float: right;
}

img {
  float: right;
}

.right {
  text-align: right;
}

img {
  height: auto;

  width: 400;
}

.subtitle {
  font-family: "Roboto";
  font-size: 18px;
}

.fainthr {
  border-top: 3px solid purple;
  opacity: 0.2;
}

/* responsivity */
* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}


img,
iframe {
  width: 100%;
  height: auto;
}

nav a:hover {
  text-decoration: none !important;
  color: white !important;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.vid {
  width: 23%;
  height: auto;
}

.descript {
  width: 50%;
  height: auto;
  margin-left: 3%;
}
@media only screen 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .vid {
      width: 100%;
      height: auto;
    }

    .descript {
      width: 100%;
      height: auto;
      margin-left: 0%;
    }
}