footer {
  background-color: #393939;
  color: white;
  overflow: auto;
  padding-top: 15px;
  padding-bottom: 10px;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
}

/*.flex-container > div {
	margin: 30px;
	padding: 20px;
*/	
}

body {
	font-family: "Roboto";
	font-size: 11px;
}



a {
	color: white

}
a:hover {
	color: purple;
}

#wide {
	width: 30%;
}

#narrow {
	width: 10%;
}

.boxy {
	padding-left: 30px;
	padding-right: 30px;
}

.right {
	float: right;
}

.copyright {
	font-size: 10px;
}

p {
	margin-bottom: 0 !important;  
}