footer {
  background-color: #393939;
  color: white;
  font-size: 12px;
  overflow: auto;
  padding-top: 15px;
  padding-bottom: 10px;
  font-family: "Roboto";
}

/*.flex-container > div {
	margin: 30px;
	padding: 20px;
*/

/*body {
	font-family: "Roboto";
	font-size: 11px;
}*/

footer.nope {
  margin: 0px !important;
}

.texty {
  color: white;
  margin: 0px !important;
  padding-left: 30px;
}

#wide {
  color: white;
  padding-right: 5px;
  padding-left: 5px;
}
.row > a:hover {
  color: #cc99cc;
}

.boxy {
  padding-left: 30px;
  padding-right: 30px;
}

footer.right {
  float: right;
}

.copyright {
  font-size: 10px;
  color: white;
  float: right;
}

footer.spacepls {
  margin-left: 60px;
  margin-right: 30px;
}

/*responsive*/
@media only screen 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    footer {
      font-size: 1.5vw;
    }

    .copyright {
      font-size: 1.5vw;
    }
}