footer {
  background-color: #393939;
  color: white;
  overflow: auto;
  padding-top: 15px;
  padding-bottom: 10px;
}

footer.h5{
  text-align: center;
  font-family: "PT Sans";
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
}

.flex-container > div {
	margin: 10px;
	padding: 20px;
	
}

th, td {
	text-align: left;
	font-family: "Roboto";
}