hr.solid {
  border-top: 3px solid purple;
}

.boxed {
  margin-left: 70px;
  margin-right: 70px;
}

h2 {
  font-family: "PT Sans";
  color: #393939;
}

div.row {
  text-align: center;
}

.speaker {
  /* background-color: #D9D5D5; */
  padding: 40px;
  text-align: left;
  margin-top: 30px;
}

.speaker p {
  font-size: 12px !important;
}

h4 {
  font-family: "PT Sans";
}

h4 {
  color: #393939;
}

p {
  font-family: "Roboto";
  color: #393939;
}

.center p {
  text-align: center;
}

.zoom-link {
  /* color: #625999; */
  font-weight: bold;
}

.zoom-link:hover {
  color: #393939;
}

iframe {
  width: 700px;
  max-width: 700px;
  height: 400px;
  border-color: transparent;
}

div.col.speaker-img {
  background-color: #d9d5d5;
  padding: 20px;
  height: 300px;
  max-width: 270px;
  margin: 30px;
}

div.col.speaker p,
div.col.speaker h2,
.zoom-link {
  margin-right: 30%;
  margin-left: 10px;
}
