hr.solid {
  border-top: 3px solid purple;
}

.boxed {
  margin-left: 50px;
  margin-right: 50px;
}

h2 {
  font-family: "PT Sans";
  color: #393939;
  text-align: left;
}

/*div.row {
  text-align: center;
}*/

.speaker {
  /* background-color: #D9D5D5; */
  padding: 40px;
  text-align: left;
  /* margin-top: 30px; */
}

.speaker p {
  font-size: 15px !important;
}

h4 {
  font-family: "PT Sans";
}

h4 {
  color: #393939;
}

p {
  font-family: "Roboto";
  color: #393939;
  text-align: justify;
}

.center p {
  text-align: center;
}

.zoom-link {
  /* color: #625999; */
  color: purple;
  text-align: center;
}

.zoom-link:hover {
  color: #393939;
}

iframe {
  width: 490px;
  max-width: 500px;
  height: 300px;
  border-color: transparent;
}

div.col.speaker-img {
  background-color: #d9d5d5;
  padding: 20px;
  height: 200px;
  max-width: 200px;
  margin: 4px;
}

div.col.speaker p,
div.col.speaker h2 {
  margin-right: 30%;
}

/*div.col.title{
  text-align: left;
}*/

div.col.keynotevideo {
  margin-right: 100px;
}

div.forum a {
  color: purple;
}

div.forum a:hover {
  color: #393939;
}

.forum {
  margin-left: 22px;
}
