.hero-img {
  height: 30%;
  background-color: #2a2a2a;
}

.section-title {
  text-align: center;
  position: relative;
  top: 40%;
  color: white;
}

.speaker {
  /* background-color: #D9D5D5; */
  padding: 40px;
}
.speaker p{
  font-size: 12px !important;
}

.speaker-img{
  background-color: #D9D5D5;
  padding: 20px;
  border-radius: 20px;
  max-height: 300px;
  margin-top: 20px;
}

h4 {
	font-family: 'PT Sans';
}

h4{
	color: #393939;
}

p {
	font-family: 'Roboto';
	color: #393939;
}

.center p {
	text-align: center;
}

.zoom-link{
  /* color: #625999; */
  font-weight: bold;
  color: #362985;
}

.zoom-link:hover{
  color: #393939;
}