body {
	background-color: #393939;
	color: white;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
}

table {
	table-layout: auto;
  width: 100%;  
}

td {
	font-family: 'Roboto';
	font-size: 12px;
}

td {
  padding-left: 10px;
  padding-right: 10px;
 }

h5 {
	font-family: 'PT Sans';
}

a {
	font-family: 'Roboto';
	font-size: 12px;
}