body {
	/* background-color: #393939; */
	background-color: #ccc;
	color: #393939;
	margin: 20px;
}

table {
	table-layout: auto;
  width: 100%;  
}

h5.livetitle{
	font-size: 23px;
	font-weight: 400;;
}

th{
	font-size: 17px;
	font-weight: 500;
}

td {
	font-family: 'Roboto';
	font-size: 14px;
}

td {
  padding-left: 10px;
  padding-right: 10px;
 }

h5 {
	font-family: 'PT Sans';
}

a {
	font-family: 'Roboto';
	font-size: 14px;
	/* color: #ccc; */
	color: purple;
}

a:hover{
	/* color: white; */
	color: white;
}

.livetime{
	text-align: center;
}

hr{
	/* background-color: #ccc; */
	background-color: #393939;
}