/** general styling **/
.navbar-nav {
  z-index: 20;
}

.anfa-logo {
  width: auto;
  height: auto;
}

/******************** CSS Vertical Tabs *******************
 ******************* Author: Asif Mughal ******************/
.space {
  margin: 20px;
  padding: 10;
}

.tabs-container {
  position: relative;
  background: #2652cc;
  width: 120px;
  height: 228vh;
  float: left;
  z-index: 20;
}

/* tabs names */
.tabs-container label {
  position: relative;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: block;
  font-size: 13px;
  color: #fff;
  cursor: pointer;
  user-select: none;
}

/* Hover effect on tabs names */
.tabs-container label:hover {
  background: rgba(0, 0, 0, 0.2);
}

/* Content area for tabs */
.tab-content {
  position: relative;
  background: white;
  width: calc(100% - 120px);
  min-height: 100vh;
  padding: 15px;
  float: left;
  box-sizing: border-box;
  z-index: -1;
  display: none;
}

.tab-content:after {
  content: "";
  clear: both;
}
/* Hide input radio from users */
input[name="tab"] {
  display: none;
}
/* Show tab when input checked */
input[name="tab"]:checked + .tab-content {
  display: block;
  animation: slide 0.5s forwards;
}

/* Slide animation for tab contents */
@keyframes slide {
  from {
    left: -100%;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

@media (min-width: 1200px) {
  .rt-container {
    width: 1170px;
  }
  .col-rt-1 {
    width: 16.6%;
  }
  .col-rt-2 {
    width: 30.33%;
  }
  .col-rt-3 {
    width: 50%;
  }
  .col-rt-4 {
    width: 67.664%;
  }
  .col-rt-5 {
    width: 83.33%;
  }
}

@media only screen and (min-width: 240px) and (max-width: 768px) {
  .ScriptTop h1,
  .ScriptTop ul {
    text-align: center;
  }
  .ScriptTop h1 {
    margin-top: 0;
    margin-bottom: 15px;
  }
  .ScriptTop ul {
    margin-top: 12px;
  }

  .ScriptHeader h1,
  .ScriptHeader h2,
  .scriptnav ul {
    text-align: center;
  }
  .scriptnav ul {
    margin-top: 12px;
  }
  #float-right {
    float: none;
  }
}
