body {
  font-family: "PT Sans";
}

.dropdown-menu {
  background-color: #343a40 !important;
  display: none;
  border: none !important;
}

.navbar-nav .nav-link {
  padding-right: 16 !important;
  padding-left: 14 !important;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: #8f9295;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

img.anfa-logo {
  height: 35px;
  width: 30px;
  order: 1;
}

.dropdown {
  float: left;
  /* overflow: hidden; */
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #7b7b7b;
}

.dropdown-item a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: "PT Sans";
  text-align: left;
}

.aia {
  background-color: #7b7b7b;
  float: right;
  color: white !important;
}

a.aia:hover {
  background-color: #2a2a2a;
  color: lightgrey;
  transition: 0.2s;
}

.dropdown-item a:hover {
  background-color: #393939;
}

.dropdown:hover .dropdown-item {
  display: block;
}

nav a:hover {
  color: white !important;
  text-decoration: none !important;
}
