body {
  font-family: 'PT Sans';
}

.navbar {
  /* overflow: initial; */
  background: #393939;
}
.navbar.flex{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

div.flex1{
  align-items: baseline;
}

img.anfa-logo{
  max-height: 50px;
  order: 1;
}

li.main-link{
  position: relative;
  top: 15px;
}

.dropdown {
  float: left;
  /* overflow: hidden; */
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #7B7B7B;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #7B7B7B;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: 'PT Sans';
  text-align: left;
}

.aia{
  background-color: #7B7B7B;
}

a.aia:hover{
  background-color: #2a2a2a;
  color: lightgrey;
  transition: 0.2s;
}

.dropdown-content a:hover {
  background-color: #393939;
}

.dropdown:hover .dropdown-content {
  display: block;
}

