h2 {
  font-family: "PT Sans";
  color: #393939;
}

h4 p {
  font-family: "Roboto";
  color: #393939;
}

div.bottom p {
  font-size: 14px;
}

h7 {
  font-weight: 600;
  display: block;
}

.button {
  /* background-color: purple; */
  border: none;
  color: purple;
  /* padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer; */
  font-size: 13px;
  text-decoration: underline;
  margin-right: 6px;
}

.button:hover {
  color: #393939;
}

.button.video {
  color: rgb(69, 71, 189);
}

hr.solid {
  border-top: 3px solid purple;
  margin-bottom: 20px;
}

.boxed {
  margin-left: 70px;
  margin-right: 70px;
}

.posters_img {
  width: 120%;
  height: 70%;
}

.row:not(footer.row) {
  margin-bottom: 5rem;
  max-height: 280px;
  height: 140px;
}

/* .bottom {
  position: absolute;
  bottom: 0;
} */

.authorline {
  margin-top: -10px;
  width: 100%;
  height: 2px;
}

.nope {
  color: red;
}


/* responsive */
* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}
