h2 {
  font-family: "PT Sans";
  color: #393939;
}


h4 p {
  font-family: "Roboto";
  color: #393939;
}

.button {
  background-color: purple;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.bottom {
  position: absolute;
  bottom: 0;
}

hr.solid {
  border-top: 3px solid purple;
}

.boxed {
  margin-left: 70px;
  margin-right: 70px;
}

.posters_img {
  width: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  height: 50%;
}

.row {
  margin-bottom: 4rem;
}
