.hero-img {
  height: 23%;
  background-color: #2a2a2a;
}

.section-title {
  text-align: center;
  position: relative;
  top: 40%;
  color: white;
  font-family: "PT Sans";
}

h2 {
  font-family: "PT Sans";
  color: #393939;
}


h4 p {
  font-family: "Roboto";
  color: #393939;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

hr.solid {
  border-top: 3px solid purple;
}

.boxed {
  margin-left: 70px;
  margin-right: 70px;
}

.posters_img {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  height: 100%;
}

.row {
  margin-bottom: 4rem;
}
