hr.solid {
  border-top: 3px solid purple;
}

.faint {
  border-top: 3px solid purple;
  opacity: 0.2;
}
.boxed {
  margin-left: 70px;
  margin-right: 70px;
}

h2 {
  font-family: "PT Sans";
  color: #393939;
}

h3 {
  font-family: "PT Sans";
}

p {
  font-family: "Roboto";
  font-size: 14px;
}
div.flex {
  display: flex;
  justify-content: center;
  align-content: space-around;
}

img:not(.anfa-logo) {
  /* height: 80px;*/
  padding-left: 10px;
  padding-right: 10px;
  max-height: 200px;
  display: inline-block;
}

.hks-img {
  max-width: 300px;
  position: relative;
  top: 20%;
}

.pe-img {
  max-width: 300px;
  position: relative;
  top: 30%;
}

.center {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

.talk {
  width: 4ev;
  height: 1ev;
  margin: 60px;
  margin-top: 0px;
  padding: 40px;
  background: lightgray;
}
section {
  margin-top: 1em;
}

table {
  table-layout: auto;
  width: 100%;
}

table,
th,
td {
  padding: 8px;
  font-family: "Roboto";
}

.small {
  width: 60%;
}
.sponlink {
  color: #393939;
  text-decoration: none;
}
.sponlink:hover {
  color: purple;
  text-decoration: underline;
}

/*john*/
.container {
  position: relative;
  text-align: center;
}

.text-block {
  position: absolute;
  left: 40px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  width: 423px;
}

img.johnimg {
  margin-bottom: 15px;
}
nav a:hover {
  text-decoration: none !important;
  color: white !important;
}
