footer {
  background-color: #393939;
  color: white;
  overflow: auto;
}
body {
  font-family: "PT Sans";
}

img {
  height: 80px;
  margin: 30px;
  display: inline-block;
}

h3 {
  text-align: center;
}

.center {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}
