hr.solid {
  border-top: 3px solid purple;
}

.faint {
  border-top: 3px solid purple;
  opacity: 0.2;
}
.boxed {
  margin-left: 70px;
  margin-right: 70px;
}

h2 {
  font-family: "PT Sans";
  color: #393939;
}

h3 {
  font-family: "PT Sans";
}

.flex-container {
  display: flex;
  justify-content: center;
  align-content: space-around;
  padding-top: 1%;
}

/*img:not(.anfa-logo) {
  /* height: 80px;*/
  /*padding-left: 10px;
  padding-right: 10px;
  max-height: 200px;
  display: inline-block;
}*/

.hks-img {
  width: 100%;
  position: relative;
  padding-top: 35%;
}

.pe-img {
  width: 100%;
  position: relative;
  padding-top: 35%;
}

.pwa-img {
  width: 100%;
  height: auto;
  top: 30%;
}

.other {
  width: 15%;
  height: 40%;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 5%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.talk {
  width: 4ev;
  height: 1ev;
  margin: 60px;
  margin-top: 0px;
  padding: 40px;
  background: lightgray;
}
section {
  margin-top: 1em;
}

table {
  table-layout: auto;
  width: 100%;
}

table,
th,
td {
  padding: 8px;
  font-family: "Roboto";
}

.small {
  width: 60%;
}
.sponlink {
  color: #393939;
  text-decoration: none;
}
.sponlink:hover {
  color: purple;
  text-decoration: underline;
}

p.bio {
  font-size: 12px;
}
.otherinside {
  width: 100%;
  height: auto;
}
.otherpic {
  padding-bottom: 42%;
}
.otherpic2 {
  padding-bottom: 0%;
}
.otherpic3 {
  padding-bottom: 56%;
}

.vertical {
  border-left: 3px solid purple;
  height: 370px;
  opacity: 0.2;
}
/*john*/
img.johnimg {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}
.otherjohn {
  width: 60%;
}
p.otherjonhtext {
  font-size: 1.25rem;
}

/*kind*/
.kind {
  width: 60%;
}

.kind {
  display: block;
}

.kindmobile {
  display: none;
}

/*misc*/
nav a:hover {
  text-decoration: none !important;
  color: white !important;
}

@media only screen 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .flex-container {
      display: flex;
      flex-wrap: wrap;
    }

    .hks-img {
      width: 50%;
      position: relative;
      padding-top: 20%;
    }

    .pe-img {
      width: 60%;
      position: relative;
      padding-top: 16%;
    }

    .pwa-img {
      width: 50%;
      height: auto;
      padding-top: 16%;
    }

    .other {
      width: 100%;
      height: 40%;
      margin: 0%;
    }

    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    /*john*/
    img.johnimg {
      width: 100%;
      height: auto;
      margin-bottom: 15px;
    }
    .otherjohn {
      width: 100%;
    }
    p {
      font-size: 13px;
    }

    /*kind*/
    td a {
      font-size: 11px;
    }

    .kindmobile {
      width: 100%;
    }

    .kind {
    display: none;
    }

    .kindmobile {
      display: block;
    }

    /*financial*/
    .otherinside {
      width: 100%;
      height: auto;
    }
    .otherpic {
      padding-bottom: 3%;
    }
    .otherpic2 {
      padding-bottom: 3%;
    }
    .otherpic3 {
      padding-bottom: 3%;
    }

    p.otherjonhtext {
      font-size: 14px;
    }

    .vertical {
      display: none;
    }
}