/*general styling*/

p {
  font-family: "Roboto";
}

.name {
  font-family: "PT Sans";
  font-size: 22px;
}

/*live events*/
.livebox {
  max-width: 250px;
  height: 100%;
  position: absolute;
  right: 0;
}

/*salk banner*/
.salk {
  background-color: #393939;
  border-radius: 0px;
  padding-left: 50px;
  padding-right: 50px;
  height: 300px;
  display: flex;
  align-content: center;
}

.salk p {
  color: white;
}

.fred {
  height: 250px;
  position: absolute;
  right: 0;
}

.svideo {
  height: 250px;
  width: 444.5px;
  align-content: center;
}

.moresalk a {
  background-color: #393939;
  color: white;
  position: absolute;
  left: 50px;
  border-radius: 0 0 7px 7px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/*submenus*/
.submenus {
  background-color: #d9d5d5;
  border-radius: 5px;
  color: #393939;
  font-family: "Roboto";
  padding: 10px;
  box-shadow: none !important;
  border-color: transparent !important;

}

.tab {
  overflow: hidden;
  /* border: 1px solid #ccc; */
  background-color: #d9d5d5;
}

.submenus:hover {
  background-color: #2a2a2a;
  color: white;
}

.submenus:focus {
  background-color: #393939;
  color: white;
  border: none;
  outline: 0;

}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
}

/*keynote content*/
.keynote {
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 20px;
  background-color: #393939;
  color: white;
  border-radius: 5px;
}

.col-4{
  padding: 50px !important;
  flex: 0 0 40% !important;
  max-width: 40% !important;
}
.keynote p.bio{
  font-size: 12px !important;
  text-align: justify;
  margin-top: 9px;
}
.col-12 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.kPics {
  height: 150px;
}

.col-8{
  max-width: 60% !important;
}
.vFrame {
  display: block;
  align-items: center;
  max-width: 500px;
}

/*talks content*/
.accordion {
  background-color: #393939;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.panel {
  padding: 0 18px;
  background-color: #d9d5d5;
  display: none;
}

.more a {
  background-color: #393939;
  color: white;
  position: absolute;
  right: 20px;
  border-radius: 7px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/*posters content*/

.topic {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: fit-content;
}

.topic button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

.topic button:hover {
  background-color: #ddd;
}

.topic button.active {
  background-color: #ccc;
}

.postercontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: fit-content;
  padding: 20px;
  display: block;
}

/* #spons-placeholder {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
} */
