h4 {
  font-family: "PT Sans";
  color: #393939;
  display: inline;
  gap: normal;
  line-height: 24px;
  font-weight: bold;
}

.author {
  margin-top: 20px;
  text-align: left;
}

p {
  font-family: "Roboto";
  color: #393939;
}

p.blurb {
  font-style: italic;
}

p.author {
  font-size: 1.2em !important;
}

iframe {
  width: 300px;
  max-width: 300px;
  height: 202px;
  border-color: transparent;
}

/* Create two equal columns that floats next to each other */

/* Clear floats after the columns */
.row {
  margin-left: 40px;
  margin-bottom: 45px;
}

.col-9 {
  padding-left: 65px;
}

hr.solid {
  border-top: 3px solid purple;
}

.boxed {
  margin-left: 70px;
  margin-right: 70px;
}
