.hero-img {
  height: 30%;
  background-color: #393939;
}

.section-title {
  text-align: center;
  position: relative;
  top: 40%;
  color: white;
  font-family: 'PT Sans';
}

.talk {
  width: 4ev;
  height: 1ev;
  margin: 60px;
  margin-top: 0px;
  padding: 40px;
  background: lightgray;
}

section {
  margin-top: 1em;
}

h4 {
  font-family: 'PT Sans';
}

h4{
  color: #393939;
}

p {
  font-family: 'Roboto';
  color: #393939;
}